.container {
    display: flex;
    height: 100vh;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, #C7C5F4, #776BCC);
    padding: 20px;
}

.h2 {
    color: #333;
    font-size: 32px;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.option-format {
    cursor: pointer;
    padding: 10px;
    border: 1px solid rgb(190, 163, 213);
    margin-bottom: 10px;
}

.option-header {
    color: #776BCC;
}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
    color: #333;
}
.option-link {
    color: white;
    text-decoration: none;
  }

.option-link:hover {
    text-decoration: underline;
  }

  
.option-format:hover {
    background-color: #5d54a3d1;
}

.panel {
    position: absolute;
    top: 20px;
    left: 0;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 30px;
    border-radius: 0 0 10px 0;
}

.panel-options {
    margin-top: 80px;
    width: 200px;
    background: linear-gradient(#776BCC,#C7C5F4);
    padding: 20px;
}

.panel-options ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  

.panel-form {
    flex: 1;
    padding: 20px;
}

/* Hide all form panels by default */
.form-panel {
    display: none;
}

/* Show selected form panel */
.form-panel.active {
    display: block;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="email"],
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}


input[type="submit"]:hover {
    background-color: #45a049;
}

.btn-schedule {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .btn-schedule:hover {
    background-color: #3e8e41;
  }

  .btn-schedule:active {
    background-color: #2e6c30;
  }

  .btn-delete {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .btn-delete:hover {
    background-color: #d32f2f;
  }

  .btn-delete:active {
    background-color: #b71c1c;
  }

  .scheduled {
    color: green;
    font-weight: bold;
  }
  
  .not-scheduled {
    color: red;
    font-weight: bold;
  }

  .hidden {
    display: none;
  }