.container {
  display: flex;
  height: 100vh;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(90deg, #C7C5F4, #776BCC);
  padding: 20px;
}

.h2 {
  color: #333;
  font-size: 32px;
  margin-bottom: 20px;
}

.option-format {
  background-color: transparent;
  border: 2px solid #6156b8;
  color: white;
  font-size: 13px;
  width: 200px;
  height: 50px;
}

table {
  border-collapse: collapse;
  margin-bottom: 20px;
  width: 100%;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #f2f2f2;
  color: #333;
}

.option-format:hover {
  background-color: #5d54a3d1;
}

.panel {
  position: absolute;
  top: 20px;
  left: 0;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 30px;
  border-radius: 0 0 10px 0;
}

.panel-options {
  margin-top: 80px;
  width: 200px;
  background: linear-gradient(#776BCC, #C7C5F4);
  padding: 20px;
}

.panel-options ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.panel-form {
  flex: 1;
  padding: 20px;
}

button {
  margin-right: 10px;
  margin-top: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

.logout-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.tests {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
}

.test:hover {
  background-color: #5d54a3d1;
}

.test.active {
  background-color: #363061d1;
}

.test-details {
  display: none;
  color: #ddd;
  padding-left: 20px;
}