<!DOCTYPE html>
<html>

<head>
	<title>Admin Page</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='/css/adminstyle.css') }}">
</head>

<body>
	<div class="panel">Database Administrator</div>
	<h1 style="margin-top: 80px;">Add New User</h1>
	<form class="add-form" action="/adduser" method="POST">
		<label for="username">Username:</label>
		<input type="text" id="username" name="username" required>

		<label for="password">Password:</label>
		<input type="password" id="password" name="password" required>

		<label for="type">Role:</label>
		<select id="type" name="type">
			<option value="admin">Database Administrator</option>
			<option value="front-desk-operator">Front Desk Operator</option>
			<option value="data-entry-operator">Data Entry Operator</option>
			<option value="doctor">Doctor</option>
		</select>

		<input type="submit" value="Add User">
	</form>
	{% if flag == 1 %}
		<h2 style="color: maroon; text-align: center;">Error Adding User</h2>
	{% endif %}
	<h1 style="margin-top: 30px;">Current Users</h1>
	<table>
		<thead>
			<tr>
				<th>Username</th>
				<th>Type</th>
				<th>Remove</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
			<tr>
				<td>{{ user[0] }}</td>
				<td>{{ user[1] }}</td>
				<td>
					<form method="POST" action="/deleteuser">
						<input type="hidden" name="username_to_delete" value="{{ user[0] }}">
						<button class="delete-btn">Delete User</button></td>
					</form>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>

</html>