<!DOCTYPE html>
<html>
<head>
	<title>Data Operator</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='/css/dataOpStyle.css') }}">
</head>
<body>
	<div class="logout-button">
		<form action="/logout" method="post">
			<button type="submit">Logout</button>
		</form>
	 </div>
	<div class="panel">Data Operator</div>
	<h1 style="margin-top: 80px;">Update Results</h1>
	<form class="input-form" action="/updateresults" method="post" enctype="multipart/form-data">
		<label for="test-id">Test/Treatment ID:</label>
		<input type="text" id="test-id" name="test-id" required>

		<label for="results">Results:</label>
		<textarea id="results" name="results" rows="10" required></textarea>
		<label for="report">Report:</label>
		<input type="file" id="report" name="result-file" accept="image/*"/><br /><br />

		<input type="submit" value="Submit">
	</form>
	{% if flag == 1 %}
		<h2 style="color: maroon; text-align: center;">Test/Treatment Session Not Found!</h2>
	{% endif %}
</body>
</html>
