<!DOCTYPE html>
<html>

<head>
	<title>Doctor: My Patients</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='/css/doctorstyle.css') }}">
</head>

<body>
	<div class="panel">Doctor: Dashboard</div>
	<div class="container">
		<div class="patients-container">
			<h1 style="color:azure">My Patients</h1>
			<ul>
				{% for patient in patients %}
				<li class="patient">
					<div class="patient-header">
						<span class="patient-id">{{ patient[0] }}</span>
						<span class="patient-name">{{ patient[1] }}</span>
					</div>
					<div class="patient-details">
						<p>Age: {{ patient[2] }}</p>
						<p>Phone: {{ patient[3] }}</p>
						<p>Email: {{ patient[4] }}</p>
						<p>Address: {{ patient[5] }}</p>
						<p>Insurance: {{ patient[2] }}</p>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="calendar-container">
			<h1 style="color:azure"> My Calendar</h1>
			<div class="temp-calendar"></div>
			<div class="button-container">
				<form action="/gotorecordmedication/0">
					<button>Record Medication Prescribed</button>
				</form>	
				<form action="/gotorecordtesttreatment/0">
					<button>Record Test/Treatment Prescribed</button>
				</form>		
			</div>
		</div>
	</div>

	<script>
		const patients = document.querySelectorAll('.patient');

		patients.forEach(patient => {
			patient.addEventListener('click', () => {
				const isActive = patient.classList.contains('active');

				patients.forEach(p => {
					p.classList.remove('active');
					p.querySelector('.patient-details').style.display = 'none';
				});

				if (!isActive) {
					patient.classList.add('active');
					patient.querySelector('.patient-details').style.display = 'block';
				}
			})
		});
	</script>
</body>

</html>