<!DOCTYPE html>
<html>

<head>
    <title>Front Desk Operator</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='/css/front_desk_op_style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
</head>

<body>
    <div class="logout-button">
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
    <div class="panel">Front Desk Operator</div>
    <div class="container">
        <div class="panel-options">
            <ul>
                <form class="option-menu" action="/registerpatientbutton">
                    <li>
                        <button class="option-format">Register Patient</button>
                    </li>
                </form>
                <form class="option-menu" action="/admitpatientbutton">
                    <li>
                        <button class="option-format">Admit Patient</button>
                    </li>
                </form>
                <form class="option-menu" action="/dischargepatientbutton">
                    <li>
                        <button class="option-format">Discharge Patient</button>
                    </li>
                </form>
                <form class="option-menu" action="/makeappointmentbutton">
                    <li>
                        <button class="option-format">Make Doctor Appointment</button>
                    </li>
                </form>
                <form class="option-menu" action="/scheduletesttreatmentbutton">
                    <li>
                        <button class="option-format">Make Test/Treatment Appointment</button>
                    </li>
                </form>
            </ul>
        </div>
        <div class="panel-form">
            {% if display == 1 %}
            <div id="Register Patient" class="form-panel">
                <h2 style="margin-top: 80px;">Register Patient</h2>
                <form class="other-forms" action="/registerpatient" method="post">
                    <label for="patient-name">Patient Name:</label>
                    <input type="text" id="patient-name" name="patient-name" required>

                    <label for="patient-age">Age:</label>
                    <input type="number" id="patient-age" name="patient-age" required>

                    <label for="patient-phone">Phone Number:</label>
                    <input type="text" id="patient-phone" name="patient-phone" required>

                    <label for="patient-email">e-Mail ID:</label>
                    <input type="email" id="patient-email" name="patient-email" required>

                    <label for="patient-address">Address:</label>
                    <input type="text" id="patient-address" name="patient-address" required>


                    <label for="patient-ins">Insurance ID:</label>
                    <input type="text" id="patient-ins" name="patient-ins" required>

                    <input type="submit" value="Submit">
                </form>
                {% if flag == 1 %}
                <h3 style="color: maroon; text-align: center"> Patient Already Exists!</h3>
                <!-- <script> -->
                <!-- alert("Error Registering Patient!"); -->
                <!-- </script> -->
                {% endif %}
            </div>
            {% endif %}
            {% if display == 2 %}
            <div id="Admit Patient" class="form-panel">
                <h2 style="margin-top: 80px;">Admit Patient</h2>
                <h3>(Make sure Patient is Registered first)</h3>
                <form class="other-forms" action="/admitpatient" method="post">
                    <label for="patient-id">Patient ID:</label>
                    <input type="text" id="patient-id" name="patient-id" required>

                    <label for="admit-date">Admit Date:</label>
                    <input type="date" id="admit-date" name="admit-date">

                    <input type="submit" value="Submit">
                </form>
                {% if flag == 1 %}
                <h3 style="color: maroon; text-align: center">Patient Not Found!</h3>
                {% endif %}
            </div>
            {% endif %}
            {% if display == 3 %}
            <div id="Discharge Patient" class="form-panel">
                <h2 style="margin-top: 80px;">Discharge Patient</h2>
                <h3>(Make sure Patient is Registered first)</h3>
                <form class="other-forms" action="/dischargepatient" method="post">
                    <label for="patient-id">Patient ID:</label>
                    <input type="text" id="patient-id" name="patient-id" required>

                    <label for="discharge-date">Discharge Date:</label>
                    <input type="date" id="discharge-date" name="discharge-date">
                    <input type="submit" value="Submit">
                </form>
                {% if flag == 1 %}
                <h3 style="color: maroon; text-align: center">No Such Patient Admitted!</h3>
                {% endif %}
            </div>
            {% endif %}
            {% if display == 4 %}
            <div id="Make Doctor Appointment" class="form-panel">
                <h2 style="margin-top: 80px;">Make Doctor's Appointment</h2>
                <h3>(Make sure Patient is Registered first)</h3>
                <form class="other-forms" action="/makeappointment" method="post">
                    <label for="patient-id">Patient ID:</label>
                    <input type="text" id="patient-id" name="patient-id" required>
                    <label for="doc-id">Doctor ID:</label>
                    <input type="text" id="doc-id" name="doc-id" required>
                    <label for="date">Date:</label>
                    <input type="date" id="date" name="date">
                    <input type="submit" value="Submit">
                </form>
                {% if flag == 1 %}
                <h3 style="color: maroon;">Patient Not Found!</h3>
                {% endif %}
                {% if flag == 2 %}
                <h3 style="color: maroon;">Doctor Not Found!</h3>
                {% endif %}
                {% if flag == 3 %}
                <h3 style="color: maroon;">No Free Slots on Selected Date!</h3>
                {% endif %}
                {% if flag == 4 %}
                <h3 style="color:aliceblue; text-align: center;">Select Slot:</h3>
                <div class="slot-container">
                    <div class="slot-panel">
                        {% for appointment in appointments %}
                        {% if appointment[1] == 1 %}
                        <form action="/updateslot" method="post">
                            <input type="hidden" name="id" value="{{ ID }}">
                            <input type="hidden" name="slot" value="{{ loop.index }}">
                            <button class="slot-button active">{{ appointment[0] }}</button>
                        </form>
                        {% else %}
                        <button class="slot-button inactive">{{ appointment[0] }}</button>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% if flag == 5 %}
                <button class="btn-schedule" onclick="scheduleAppointment('{{ curdetails }}')">Get PDF</button>
                {% endif %}
                <script>
                    function scheduleAppointment(curdetails) {
                        var curdetailArray = curdetails.split(',');
                        <!-- var curdetailArray = curdetails; -->
                        var patientID = curdetailArray[0];
                        var patientName = curdetailArray[1];
                        var doctorID = curdetailArray[2];
                        var doctorName = curdetailArray[3];
                        var date = curdetailArray[4];
                        var slot = curdetailArray[5];
                        console.log(patientID, patientName, doctorID, doctorName, date, slot);
                        generatePdfA(patientID, patientName, doctorID, doctorName, date, slot);
                    }

                    function generatePdfA(patientID, patientName, doctorID, doctorName, date, slot) {
                        var newdoc = new jsPDF();
                        newdoc.text("Patient ID: " + patientID, 20, 20);
                        newdoc.text("Patient Name: " + patientName, 20, 30);
                        newdoc.text("Doctor ID: " + doctorID, 20, 40);
                        newdoc.text("Doctor Name: " + doctorName, 20, 50);
                        newdoc.text("Date: " + date, 20, 60);
                        newdoc.text("Slot: " + slot, 20, 70);
                        newdoc.save(patientName + " Appointment.pdf");
                    }
                </script>
            </div>
            {% endif %}
            {% if display == 5 %}
            <div id="Make TnT Appointment" class="form-panel">
                <h2 style="margin-top: 80px;">Make Test/Treatment Appointment</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Patient Name</th>
                            <th>Treatment/Test</th>
                            <th>Doctor</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for test in tests %}
                        <tr>
                            <td>{{ test[1] }}</td>
                            <td>{{ test[3] }}</td>
                            <td>{{ test[5] }}</td>
                            <form action="/scheduletesttreatment" method="post">
                                <input type="hidden" name="patient-id" value="{{ test[0] }}">
                                <input type="hidden" name="patient-name" value="{{ test[1] }}">
                                <input type="hidden" name="test-id" value="{{ test[2] }}">
                                <input type="hidden" name="test-treatment" value="{{ test[3] }}">
                                <input type="hidden" name="doctor-id" value="{{ test[4] }}">
                                <input type="hidden" name="doctor-name" value="{{ test[5] }}">
                                <td>  
                                    <input type="date" name="date">
                                </td>
                                <td>
                                    <button class="btn-schedule">Schedule</button>
                                </td>
                            </form>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% if flag == 1 %}
                <button class="btn-schedule" onclick="scheduletesttreatment('{{ curtest }}', '{{ date }}', '{{ slot }}')">Get
                    PDF</button>

                {% endif %}

                {% if flag == 2 %}
                <h3 style="color: maroon;">No Slot Available!</h3>
                
                {% endif %}

                <script>
                    function scheduletesttreatment(curtest, date, slot) {
                        var curtestArray = curtest.split(',');
                        var patientName = curtestArray[0];
                        var testtreatment = curtestArray[1];
                        var doctor = curtestArray[2];
                        generatePdfTT(patientName, testtreatment, doctor, date, slot);
                    }

                    function generatePdfTT(patientName, testtreatment, doctor, date, slot) {
                        var doc = new jsPDF();
                        doc.text("Patient Name: " + patientName, 20, 20);
                        doc.text("Test/Treatment: " + testtreatment, 20, 30);
                        doc.text("Doctor: " + doctor, 20, 40);
                        doc.text("Date: " + date, 20, 50);
                        doc.text("Slot: " + slot, 20, 60);
                        doc.save(patientName + " Schedule.pdf");
                    }
                </script>
            </div>
            {% endif %}
        </div>
    </div>
</body>

</html>