<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>MedPal - Hospital Management System</title>
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
	<link rel="stylesheet" href="{{ url_for('static',filename='/css/loginstyle.css') }}">
</head>

<body>
	<!-- partial:index.partial.html -->
	<div class="header_display">
		<h1 style="color:white">MedPal</h1>
		<h2>Hospital Management System</h2>
	</div>
	<div class="container">
		<div class="screen">
			<div class="screen__content">
				<form class="login" action="/" method="POST">
					<div class="login__field">
						<i class="login__icon fas fa-user"></i>
						<input type="text" name="username" class="login__input" placeholder="Username:" required>
					</div>
					<div class="login__field">
						<i class="login__icon fas fa-lock"></i>
						<input type="password" name="password" class="login__input" placeholder="Password:" required>
					</div>
					<div class="login__field">
						<i class="login__icon fas fa-user"></i>
						<select class="login__input" name="type" required>
							<option class="login__input" value="" selected disabled>Choose Role</option>
							<option class="login__input" value="Front Desk Operator">Front Desk Operator</option>
							<option class="login__input" value="Data Entry Operator">Data Entry Operator</option>
							<option class="login__input" value="Doctor">Doctor</option>
							<option class="login__input" value="Database Administrator">Database Administrator</option>
						</select>
					</div>
					<button class="button login__submit">
						<span class="button__text">Login</span>
						<i class="button__icon fas fa-chevron-right"></i>
					</button>
				</form>
				{% if flag == 1 %}
					<h2 style="color: maroon; text-align: center; background-color: white">Invalid Credentials!</h2>
				{% endif %}
			</div>
			<div class="screen__background">
				<span class="screen__background__shape screen__background__shape4"></span>
				<span class="screen__background__shape screen__background__shape3"></span>
				<span class="screen__background__shape screen__background__shape2"></span>
				<span class="screen__background__shape screen__background__shape1"></span>
			</div>
		</div>
	</div>
	<!-- partial -->

</body>

</html>