<!DOCTYPE html>
<html>
<head>
	<title>Record Medication Prescribed</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='/css/recordMedicationstyle.css') }}">
</head>
<body>
	<div class="logout-button">
		<form action="/logout" method="post" style="padding: 2px;">
			<button type="submit">Logout</button>
		</form>
		<form action="/doctor" method="post" style="padding: 2px;">
			<button type="submit">Back</button>
		</form>
	 </div>
	<div class="panel">Doctor: Medication</div>
	<h1 style="margin-top: 80px;">Record Medication Prescribed</h1>
	<form class="input-form" method="POST" action="/recordmedication">
		<label for="patient_id">Patient ID:</label>
		<input type="text" id="patient_id" name="patient_id" required>

		<label for="medication_id">Medication ID:</label>
		<input type="text" id="medication_id" name="medication_id" required>

		<label for="dosage">Dosage:</label>
		<input type="text" id="dosage" name="dosage" placeholder="Morning-Noon-Evening" required>

		<label for="duration">Duration: </label>
		<input type="text" id="duration" name="duration" placeholder="Days" required>

		<label for="date">Date:</label>
		<input type="date" id="date" name="date">

		<input type="submit" value="Submit">
	</form>
	{% if flag == 1 %}
		<h2 style="color: greenyellow; text-align: center;">Medication Recorded!</h2>
	{% endif %}
</body>
</html>
