<!DOCTYPE html>
<html>
<head>
	<title>Record Test/Treatment Prescribes</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='/css/recordTestTreatstyle.css') }}">
</head>
<body>
	<div class="logout-button">
		<form action="/logout" method="post" style="padding: 2px;">
			<button type="submit">Logout</button>
		</form>
		<form action="/doctor" method="post" style="padding: 2px;">
			<button type="submit">Back</button>
		</form>
	 </div>
	<div class="panel">Doctor: Test/Treatment</div>
	<h1 style="margin-top: 80px;">Record Test/Treatment Prescribes</h1>
	<form class="input-form" action="/recordtesttreatment" method="post">
		<label for="patient_id">Patient ID:</label>
		<input type="text" id="patient_id" name="patient_id" required>

		<label for="test_treatment_id">Test/Treatment ID:</label>
		<input type="text" id="test_treatment_id" name="test_treatment_id" required>

		<label for="doctor_id">Doctor ID:</label>
		<input type="text" id="doctor_id" name="doctor_id" min="1" required>

		<input type="submit" value="Submit">
	</form>
	{% if flag == 1 %}
		<h2 style="color: greenyellow; text-align: center;">Test/Treatment Recorded!</h2>
	{% endif %}
</body>
</html>
