<!DOCTYPE html>
<html>

<head>
	<title>Doctor: Patient History</title>
	<link rel="stylesheet" href="/home/deepsikha/Downloads/HospitalManagementSystem/static/css/medhistory.css">
</head>

<body>
	<div class="logout-button">
		<form action="/logout" method="post">
			<button type="submit">Logout</button>
		</form>
	</div>
	<div class="panel">Doctor: Patient's Medical History</div>
	<div class="container">
		<div class="panel-options">
			<ul>
				<li>
					<button class="option-format" onclick="showMedicationHistory()">Medication History</button>
				</li>
				<li>
					<button class="option-format" onclick="showTestTreatmentHistory()">Test &amp; Treatment
						History</button>
				</li>
			</ul>
		</div>
		<div class="panel-form">
			<div id="medication-history" class="history-section">
				<h2 style="margin-top: 80px;">Medication History</h2>
				<table>
					<thead>
						<tr>
							<th>Prescription ID</th>
							<th>Patient ID</th>
							<th>Doctor ID</th>
							<th>Medicine</th>
							<th>Dosage</th>
							<th>Duration</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>val</td>
							<td>val</td>
							<td>val</td>
							<td>val</td>
							<td>val</td>
							<td>val</td>
							<td>val</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="test-treatment-history" class="history-section"></div>
			<h2 style="margin-top: 80px;">Test & treatment History</h2>
				<table>
					<thead>
						<tr>
							<th>Test/Treatment ID</th>
							<th>Test/Treatment Code</th>
							<th>Patient ID</th>
							<th>Doctor ID</th>
							<th>Medicine</th>
							<th>Date</th>
							<th>Outcome</th>
							<th>Image</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>val</td>
							<td>val</td>
							<td>val</td>
							<td>val</td>
							<td>val</td>
							<td>val</td>
							<td>val</td>
							<td>if any</td>
						</tr>
					</tbody>
				</table>
		</div>
	</div>
</body>

</html>