<!DOCTYPE html>
<html>

<head>
	<title>Doctor: Patient History</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='/css/medhistory.css') }}">
</head>

<body>
	<div class="logout-button">
		<form action="/logout" method="post">
			<button type="submit">Logout</button>
		</form>
	</div>
	<div class="panel">Doctor: Patient's Medical History</div>
	<div class="container">
		<div class="panel-options">
			<ul>
				<li>
					<form action="/medicationhistory" method="post">
						<input type="hidden" name="patient_id" value="{{ patient_id }}">
						<button class="option-format" onclick="showMedicationHistory()">Medication History</button>
					</form>
				</li>
				<li>
					<form action="/testtreatmenthistory" method="post">
						<input type="hidden" name="patient_id" value="{{ patient_id }}">
						<button class="option-format" onclick="showTestTreatmentHistory()">Test &amp; TreatmentHistory</button>
					</form>
				</li>
			</ul>
		</div>
		<div class="panel-form">
			{% if flag == 1 %}
			<div id="medication-history" class="history-section">
				<h2 style="margin-top: 80px;">Medication History</h2>
				<table>
					<thead>
						<tr>
							<th>Patient Name</th>
							<th>Doctor Name</th>
							<th>Medicine</th>
							<th>Manufacturer</th>
							<th>Dosage</th>
							<th>Duration</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody>
						{% for medication in medications %}
						<tr>
							<td>{{ medication[0] }}</td>
							<td>{{ medication[1] }}</td>
							<td>{{ medication[2] }}</td>
							<td>{{ medication[3] }}</td>
							<td>{{ medication[4] }}</td>
							<td>{{ medication[5] }}</td>
							<td>{{ medication[6] }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% endif %}
			{% if flag == 2 %}
			<div id="test-treatment-history" class="history-section">
			<h2 style="margin-top: 80px;">Test & treatment History</h2>
				<table>
					<thead>
						<tr>
							<th>Patient Name</th>
							<th>Doctor Name</th>
							<th>Test/Treatment Code</th>
							<th>Date</th>
							<th>Slot</th>
							<th>Results</th>
						</tr>
					</thead>
					<tbody>
						{% for test in tests %}
						<tr>
							<td>{{ test[0] }}</td>
							<td>{{ test[1] }}</td>
							<td>{{ test[2] }}</td>
							<td>{{ test[3] }}</td>
							<td>{{ test[4] }}</td>
							<td>{{ test[5] }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% endif %}
		</div>
	</div>
</body>
</html>